<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/aminism</property>
    <!-- 使用Unicode访问数据库-->
    <property name="connection.useUnicode">false</property>

    <!-- 连接数据库时数据的传输字符集编码方式 -->
    <property name="connection.characterEncoding">UTF-8</property>

    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="current_session_context_class">thread</property>
    <property name="show_sql">true</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- DB schema will be updated if needed -->
    <property name="hbm2ddl.auto">update</property>

    <mapping class="spider.model.DoubanactivityEntity"/>
    <mapping class="spider.model.DoubanbookEntity"/>
    <mapping class="spider.model.DoubanbookCommentEntity"/>
    <mapping class="spider.model.DoubanbookReviewEntity"/>
    <mapping class="spider.model.DoubanbookReviewCommentEntity"/>
    <mapping class="spider.model.DoubangroupEntity"/>
    <mapping class="spider.model.DoubanmovieEntity"/>
    <mapping class="spider.model.DoubanmusicEntity"/>
    <mapping class="spider.model.UserEntity"/>
    <mapping class="spider.model.DoubanrateEntity"/>
    <mapping class="spider.model.DoubanbookOfferEntity"/>
    <mapping class="spider.model.LogEntity"/>
</session-factory>
</hibernate-configuration>