<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanactivityEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanbookEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanbookCommentEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanbookReviewEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanbookReviewCommentEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubangroupEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanmovieEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanmusicEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.UserEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanrateEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.DoubanbookOfferEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.LogEntity"/>
    <mapping class="com.ctrip.flight.backendservice.backofficetool.aminism.spider.model.TaskUrlEntity"></mapping>
</session-factory>
</hibernate-configuration>